.intro {
    font-size: var(--font-size-m);
    font-style: italic;
    border-style: solid;
    border-color: var(--mono-tint2);
    border-width: 0 0 0 .3em;
    padding-left:1em;
    }

.docsify-pagination-container {
    margin: 5rem 0 4.5rem;
    }

.home-icon:before {
    content: url(/assets/home.svg)
    }

summary {
    text-transform: capitalize;
 /* font-weight: bold; */
 /* border-style: solid; */
 /* border-color: var(--link-color); */
 /* border-width: 0 0 0 .2em; */
 /* padding-left: 1em; */
    }

summary:after {
    content: "(Click to Expand)";
    padding-left: 1em;
    /* font-style: italic; */
    color: var(--link-color);
    }

summary:hover {
    font-weight:bold;
    }

details {
    padding: 1em;
    padding-left: 1.3em;
    margin: 1em 0em;
 /* border-radius: var(--border-radiufrl); */
    background: var(--mono-tint3);
 /* border-style: solid;
    border-color: #3f99cf;
    border-width: 0 0 0 .2em; */
    }

/* .last-modified:before {
    content:'?';
    margin-right:0.5rem;
    }
.last-modified:after {
    content:'?';
    margin-left:0.5rem;
    } */

/* gitter button */
/* .gitter-open-chat-button {
    background-color: #acdb32 !important;
    box-shadow: 0px 20px 20px -6px black;
    }
*/

.last-modified {
    margin: 0 0.5rem;
    }

.edit-button {white-space: nowrap;}

.meta-container a {
    text-decoration: none;
    color: unset !important;
    }

.meta-container {
 /* float: right; */
    color: rgba(68, 68, 68, 0.788);
    position: absolute;
    position: absolute;
    bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
    width: 80%;
    font-size:80%;
    text-align:left;   /* was center */
    }

.sidebar p {
 /* font-weight:    strong; */
    margin:         0;
 /* font-style:     italic; */
    display:        block;
    padding:        var(--sidebar-nav-strong-padding);
 /* border-width:   var(--sidebar-nav-strong-border-width, 0); */
 /* border-style:   solid; */
 /* border-color:   var(--sidebar-nav-strong-border-color); */
    color:          var(--sidebar-nav-strong-color);
    font-size:      var(--sidebar-nav-strong-font-size);
    font-weight:    var(--sidebar-nav-strong-font-weight);
    text-transform: var(--sidebar-nav-strong-text-transform);
    }

/* .sidebar-nav ul>li>strong, .sidebar nav ul>li>strong {
    } */

.sidebar-nav li, .sidebar nav li  {
    padding:3px 0px;
 /* display:        block; */
 /* padding:        var(--sidebar-nav-strong-padding); */
 /* border-width:   var(--sidebar-nav-strong-border-width, 0); */
 /* border-style:   solid; */
 /* border-color:   var(--sidebar-nav-strong-border-color); */
 /* color:          var(--sidebar-nav-strong-color); */
    font-size:      var(--sidebar-nav-strong-font-size);
    text-transform: var(--sidebar-nav-strong-text-transform);
    }

.sidebar-nav li>strong, .sidebar nav li>strong {
    padding:        3px 0px;
    font-size:      var(--font-size-s) !important;
    font-weight:    var(--sidebar-nav-strong-font-weight);
 /* font-weight:    normal !important; */
    }

.sidebar-nav li a, .sidebar nav li a {
    font-size:      var(--font-size-m) !important;
    text-transform: capitalize;

    white-space:    normal;
    line-height:    1.0;       /* .(10503.01.1 RAM Was 1.2 */
    margin-bottom:  0.0rem;    /* .(10503.01.2 RAM Was 0.5rem */
    font-size:      100%;
    letter-spacing: 0.01rem;
    }

.sidebar-nav .app-sub-sidebar a {
    font-weight:    unset;
    font-size:      90%;
    letter-spacing: unset;
    }

.markdown-section code:not([class*="lang-"]):not([class*="language-"]) {
    white-space:   unset;
    }

img {
    border-width:   1px;
    border-style:   solid;
    border-color: rgba(128, 128, 128, 0.2);
 /* border-image:   initial; */
    border-radius:  var(--border-radiufrl);
    }

.markdown-section img {
    max-width:80%;
 /* margin: 1em 0em; */
    display:block;
    margin:auto;
    }

.markdown-section img[src$=".gif"] {
    display:block;
    margin: 0.5em auto;
    max-width:80%;
    border-top: 1px;
    border-bottom: 1px;
    border-right:30px;
    border-left:30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-top-color: rgba(0, 0, 0, 0.05);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radiufrl);
    }

.markdown-section video {
    display:block;
    margin: 0.5em auto;
    max-width:80%;
    border-top: 1px;
    border-bottom: 1px;
    border-right:30px;
    border-left:30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radiufrl);
    }

.markdown-section iframe {
    margin: 0px;            /* was 0.5em auto */
    margin-left: -200px;            /* added */
    max-width: 1320px;             /* was 80% */
    text-align: left;
    border-top: 1px;
    border-bottom: 1px;
    border-right:0px;             /* was 30px; */
    border-left:0px;              /* was 30px; */
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radiufrl);
    display:block;
    }

.videoWrapper {
    position: relative;
    padding-bottom: 41%; /* 16:9 */
    /* padding-top: 0px; */
    height: 0;
    margin: 1em auto 2.5em auto;
    }

.markdown-section .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

h1, h2, h3 {
    text-transform: capitalize;
    }

h1, h2 {
    letter-spacing: 0.01em;
    }

/* .sidebar-nav li:first-child:before{
    content: "|";
    }

.sidebar nav li:first-child:before{
    content: "|";
    } */

:root {

 /* Add sidebar navigation bullets  EMOJIS*/
 /* ? # ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? … º ? ? ? ?  ? ? ? ? ?  ? ?*/
 /* --sidebar-nav-link-before-content-l1: '??'; */
 /* --sidebar-nav-link-before-content-l &:first-of-type: ??; */
 /* --sidebar-nav-link-before-content-l2: '??'; */
 /* --sidebar-nav-link-before-content-l2: '?'; */
 /* --sidebar-nav-link-before-content-l2: '?';  *//* .(10513.01.1 RAM Don't save in Textpad.  These charswill be lost) */

 /* Nav Links - Pseudo Style */
    }

.sidebar-nav>ul>li>ul>li>a:before{
    font-size:100%;
}

/* App
======================================================== */
:root {
    /* Color
    -------------------------------------------- */
    /* Monochrome */
    --mono-hue        : 200;
    --mono-saturation : 1%;

    /* Monochrome shades (darker) and tints (lighter) */
    --mono-shade3     : hsl(var(--mono-hue), var(--mono-saturation), 20%); /* #333333 */
    --mono-shade2     : hsl(var(--mono-hue), var(--mono-saturation), 30%); /* #4d4d4d */
    --mono-shade1     : hsl(var(--mono-hue), var(--mono-saturation), 40%); /* #666666 */
    --mono-base       : hsl(var(--mono-hue), var(--mono-saturation), 50%); /* #808080 */
    --mono-tint1      : hsl(var(--mono-hue), var(--mono-saturation), 70%); /* #b3b3b3 */
    --mono-tint2      : hsl(var(--mono-hue), var(--mono-saturation), 89%); /* #e3e3e3 */
    --mono-tint3      : hsl(var(--mono-hue), var(--mono-saturation), 97%); /* #f7f7f7 */
    --mono-tint4      : hsl(var(--mono-hue), 70%, 97%);

    /* Theme */
    --theme-hue: 335;
    --theme-saturation: 80%;
    --theme-lightness : 50%;
    --theme-color     : hsl(var(--theme-hue), var(--theme-saturation), var(--theme-lightness));
    /* --code-theme-text : hsl(var(--theme-hue), 70%, 50%); */
    --code-theme-text : #1d1d1d;
    --code-theme-background : var(--mono-tint4);
    --accent-color: #abdd15;
    --accent-color-light:  #b6f30063;
    --link-color : #0072cf;

    /* Typography
    ------------------------------------------------------------------------- */
    /* Modular Scale */
    --modular-scale   : 1.2;
}

/* Base
============================================================================= */
:root {
    --base-background-color: #f7f7f713;
    /* --base-color           : var(--mono-shade2); */
    --base-color           : #404040;
    --base-font-family     : Lato,"Segoe UI", Helvetica, Arial, sanfrserif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size       : 17px;
    --base-font-weight     : normal;
    --base-letter-spacing  : ;
    --base-line-height     : 1.5;
}

/* Content
============================================================================= */
.markdown-section blockquote {
    padding: 1em;
    padding-left: 1.3em;
    margin: 1em 0em;
}
:root {
    --content-max-width                 : 55em;

    /* Blockquote */
    --blockquote-background             : var(--mono-tint3);
    --blockquote-border-color           : var(--mono-tint2);

    /* Code */
 /* --code-theme-background             : var(--mono-tint3); */
    --code-font-family                  : Menlo, monospace;
    --code-font-size                    : calc(var(--font-size-m) * 0.85);
    --code-font-weight                  : normal;
    --code-tab-size                     : 4;
    --code-inline-background            : var(--code-theme-background);
    --code-inline-border-radius         : var(--border-radiufrs);
    --code-inline-color                 : var(--code-theme-text);
    --code-inline-margin                : 0 0.12em;
    --code-inline-padding               : 0.3em 0.45em 0.15em;

    /* Headings */
    --heading-color                     : var(--mono-shade3);
    --heading-font-family               : "Roboto Slab", "ff-tisa-web-pro", Georgia, Arial;
    --heading-font-weight               : 700 ;
    --heading-margin                    : 2.5rem 0 0;
 /* --heading-padding                   : ; */
 /* --heading-h1-border-color           : ; */
 /* --heading-h1-border-style           : ; */
 /* --heading-h1-border-width           : ; */
 /* --heading-h1-color                  : ; */
    --heading-h1-font-family            :"Roboto Slab", "ff-tisa-web-pro", Georgia, Arial ;
    --heading-h1-font-size              : var(--font-size-xxl);
    --heading-h1-font-weight            : 700;
    --heading-h1-margin                 : 0 0 2.5rem;
 /* --heading-h1-padding                : 0 0 1rem; */
 /* --heading-h2-border-color           : ; */
 /* --heading-h2-border-style           : ; */
 /* --heading-h2-border-width           : ; */
 /* --heading-h2-color                  : ; */
    --heading-h2-font-family            : "Roboto Slab", "ff-tisa-web-pro", Georgia, Arial;
    --heading-h2-font-size              : var(--font-size-xl);
    --heading-h2-font-weight            : 700;
 /* --heading-h2-margin                 : ; */
 /* --heading-h2-padding                : ; */
 /* --heading-h3-border-color           : ; */
 /* --heading-h3-border-style           : ; */
 /* --heading-h3-border-width           : ; */
 /* --heading-h3-color                  : ; */
    --heading-h3-font-family            : "Roboto Slab", "ff-tisa-web-pro", Georgia, Arial;
    --heading-h3-font-size              : var(--font-size-l);
    --heading-h3-font-weight            : 700;
 /* --heading-h3-margin                 : ; */
 /* --heading-h3-padding                : ; */
 /* --heading-h4-border-color           : ; */
 /* --heading-h4-border-style           : ; */
 /* --heading-h4-border-width           : ; */
 /* --heading-h4-color                  : ; */
    --heading-h4-font-family            : "Roboto Slab", "ff-tisa-web-pro", Georgia, Arial;
    --heading-h4-font-size              : var(--font-size-m);
 /* --heading-h4-font-weight            : ; */
 /* --heading-h4-margin                 : ; */
 /* --heading-h4-padding                : ; */

 /* --heading-h5-border-color           : ; */
 /* --heading-h5-border-style           : ; */
 /* --heading-h5-border-width           : ; */
 /* --heading-h5-color                  : ; */
    --heading-h5-font-family            : "Roboto Slab", "ff-tisa-web-pro", Georgia, Arial;
    --heading-h5-font-size              : var(--font-size-s);
 /* --heading-h5-font-weight            : ; */
 /* --heading-h5-margin                 : ; */
 /* --heading-h5-padding                : ; */

 /* --heading-h6-border-color           : ; */
 /* --heading-h6-border-style           : ; */
 /* --heading-h6-border-width           : ; */
 /* --heading-h6-color                  : ; */
    --heading-h6-font-family            : "Roboto Slab", "ff-tisa-web-pro", Georgia, Arial;
    --heading-h6-font-size              : var(--font-size-xs);
 /* --heading-h6-font-weight            : ; */
 /* --heading-h6-margin                 : ; */
 /* --heading-h6-padding                : ; */

    /* Links */
 /* --link-color                        : ;
 /* --link-color--hover                 : ; */
    --link-text-decoration              : none;
    --link-text-decoration--hover       : underline;

    /* Notice */
 /* --notice-background                 : blue; */
 /* --notice-border-color               : blue; */
 /* --notice-border-radius              : var(--border-radiufrm); */
 /* --notice-border-style               : solid; */
 /* --notice-border-width               : ; */
 /* --notice-color                      : ; */
 /* --notice-font-family                : ; */
 /* --notice-font-weight                : normal; */
 /* --notice-padding                    : 1em 1.5em; */

    /* Notice - Important */
 /* --notice-important-background       : ; */
 /* --notice-important-border-color     : ; */
 /* --notice-important-border-style     : ; */
 /* --notice-important-border-width     : ; */
 /* --notice-important-color            : ; */

 /* Notice - Important Pseudo */
 /* --notice-important-before-background: ; */
 /* --notice-important-before-color     : ; */
 /* --notice-important-before-content   : ; */

    /* Notice - Tip */
    --notice-tip-background             : var(--accent-color-light);
    --notice-tip-border-color           : var(--accent-color);
 /* --notice-tip-border-style           : ; */
 /* --notice-tip-border-width           : ; */
 /* --notice-tip-color                  : var(--accent-color); */

    /* Notice - Tip Pseudo */
 /* --notice-tip-before-background      : ; */
 /* --notice-tip-before-color           : ; */
 /* --notice-tip-before-content         : ; */
}

/* number those pages?? */
   h1 { counter-reset: h2counter; }
   h2 { counter-reset: h3counter; }
   h3 { counter-reset: h4counter; }
   h4 { counter-reset: h5counter; }
   h5 { counter-reset: h6counter; }
/* h6 { } */

/* h2:before {
    counter-increment: h2counter;
    content: "Step " counter(h2counter) " - ";
}

h3:before {
    counter-increment: h3counter;
    content: "Step " counter(h3counter) " - ";
} */
/* h3:before {
    counter-increment: h3counter;
    content: "Step " counter(h2counter) "." counter(h3counter) ".";
} */
/*
h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".";
} */

.markdown-section h1 {
     margin:      0px 0px 0px -15px;  /* Top Right Bottom Left */
     padding:     0px 0px 0px 0px;
     line-height: 28px;
     }

.markdown-section h2 {
     margin:      0px 0px 0px 0px;
     padding:     0px 0px 4px 0px;
     line-height: 24px;
     }

.markdown-section h3 {
     margin:      0px 0px 0px 0px;
     padding:     0px 0px 0px 0px;
     }

.markdown-section ol {
     margin:      0px 0px 0px 20px;
     padding:     0px 0px 0px 0px;
     }

.markdown-section ul {
     margin:      0px 0px 0px 20px;
     padding:     0px 0px 0px 0px;
     }

.markdown-section li {
     margin:      0px 0px 0px 20px;
     padding:     0px 0px 5px 0px;
     }

.markdown-section p {
     margin:      0px 0px 0px 0px;
     padding:     0px 0px 0px 0px;
     }

.markdown-section img {
     margin:      4px 0px 13px 0px;
     padding:     0px 0px 0px 0px;
     text-align:  center;
     }

.markdown-section figure {
     display:     block;
     font-size:   14px;
/*   text-align:  center;  */
     margin:     -15px 0px 0px 30px;
     }

.markdown-section .warn {
     margin             : 8px 0px 4px 0px;
     padding            : 6px 0px 6px 50px;
     background-color   : rgb(211, 223, 169);
     }

.markdown-section .tip {
     margin             : 8px 0px 4px 0px;
     padding            : 6px 0px 6px 50px;
     background-color   : rgb(202, 156, 179);
     }

.markdown-section code {
     background-color   : rgb(240, 235, 215);      /* was: rgb(215, 215, 200); */
     margin             : 0px 0px 0px 10px;
     }

.sidebar p {
     padding             : 0px 0px 0px 0px;
     }

:root {
/* --sidebar-nav-strong-margin: 1.5em 0 0.5em;  */
/* --sidebar-nav-strong-padding: 0.25em 0;  */

   --code-block-padding    : 5px 0px 7px 10px;
   --code-block-margin     : 5px 0px 8px -9px;       /* was: 1em 0; */

   --code-inline-background: rgb(240, 235, 215);   /* was: rgb(240, 235, 215); */
   --code-inline-margin    : 0px 0px 0px 0px;
   --code-inline-padding   : 0px 6px 3px 6px;        /* was: 0.3em 0.45em 0.15em; */
     }

details {
     margin:      0px 0px 0px 22px;
     padding:     0px 0px 5px 0px;
     }

h  { display:     block;
     font-weight: normal;
     font-size:   17px;
     padding-top:  8px;
     margin-bottom: -3px;
     text-transform: none !important;
     }

hb { display:     block;
     font-weight:  700;
     padding:      8px 0px 4px 10px;
     font-size:   17px;
     }

sp {
    display:       block;
    height:        10px;
/*  border:        1px solid red; */
    }

.page-back {
    float        : left;
    font-weight  : bold;
    color        : maroon;
    margin-top   : 15px;
    margin-bottom: 20px;
    }

.page-next {
    float        : right;
    font-weight  : bold;
    color        : maroon;
    margin-top   : 15px;
    margin-bottom: 20px;
    }

.enabled {
    color           : #000000 !important;
    pointer-events  : auto      !important;
    }

.disabled {
    color           : #aaaaaa !important;   /* .(10610.01.1 RAM Make it grey to start) */
    pointer-events  : none      !important;     /* .(10610.01.2 RAM Disable click event) */
    }
